node_modules/
.expo/
dist/
web-build/

# Gradle & Android build caches
.gradle/
android/.gradle/
android/app/build/
android/build/
build/
*.lock
*.lockfile

# Keystores & Certificates (keep debug.keystore)
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.orig.*
.DS_Store

# Environment files
.env.local
.env.development.local
.env.test.local
.env.production.local

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# System
.system_generated/
scratch/
.vscode/
